<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup><supportedRuntime version="v2.0.50727"/></startup>
	<appSettings>
		<add key="basePath" value="C:\Users\offa2\Desktop\files\Anatoly\FileManager\files"/>
    <add key="ConfigPath" value="C:\Users\offa2\Desktop\files\Anatoly\FileManager"/>
    <add key="ExcelPath" value="C:\Users\offa2\Desktop\files\Anatoly/FileManager/Codes.xlsx"/>
    <add key="MailSleepSeconds" value="1"/>
	</appSettings>
 <userSettings>
  <FileManager.Properties.Settings>
   <setting name="selectedFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="duplicatesFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="fileNamesFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="reportsFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="reportsDestName" serializeAs="String">
    <value />
   </setting>
   <setting name="DaysToDelete" serializeAs="String">
    <value>11</value>
   </setting>
   <setting name="ArchiveDestName" serializeAs="String">
    <value />
   </setting>
   <setting name="ArchiveSourceName" serializeAs="String">
    <value />
   </setting>
  </FileManager.Properties.Settings>
 </userSettings>
</configuration>
