<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup><supportedRuntime version="v2.0.50727"/></startup>
	<appSettings>
		<add key="basePath" value="C:\Projects\FileManager\Files"/>
    <add key="ConfigPath" value="C:\Projects\FileManager"/>
    <add key="ExcelPath" value="C:\Projects\FileManager/Ofer_Excel_Exm.xlsx"/>
	</appSettings>
 <userSettings>
  <FileManager.Properties.Settings>
   <setting name="selectedFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="duplicatesFolders" serializeAs="String">
    <value />
   </setting>
   <setting name="fileNamesFolders" serializeAs="String">
    <value />
   </setting>
  </FileManager.Properties.Settings>
 </userSettings>
</configuration>
